---
layout: single
sidebar:
  nav: docs 
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}



<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {{ content }}
  </div>
</div>



<!-- Social -->

	<div class="social-row">
		<div class ="feed-block">
			<a class="twitter-timeline" href="https://twitter.com/msatweet?ref_src=twsrc%5Etfw" data-width="300" data-height="600">Tweets by msatweet</a> 
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>   