---
layout: archive
---

<style>

 a {
	text-decoration: none;
  }
  
  a:visited {
	text-decoration: none;
  }

.soc-title {
  font-size: 1.6em; 
  font-weight: bold; 
  text-align:center;
  line-height: 35px;
  
  a:hover {
	box-shadow: 0px 0px 4px 4px gray;
  }
}
  
</style>

{{ content }}


<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->
