/* ==========================================================================
   FOOTER 
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 3em;
  color: $muted-text-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: $footer-background-color;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: $muted-text-color;
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }



  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}


.footer-links {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0
}

.footer-social {
    color: #fff !important;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    width: 35px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 100%;
    margin: 0 3px 10px;
}  

.footer-links ul {
    list-style: none;
    padding-left: 0;
	padding-right: 20px;
    margin-bottom: 0;
}
.footer-links li {
    margin-bottom: 6px;
}
.footer-social {
    margin-bottom: 20px;
}
.footer-social a {
    color: #fff !important;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    width: 35px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 100%;
    margin: 0 3px 10px;
}
.footer-social a:hover {
    background-color: #87b052;
}
.footer-btn .formbutton {
    color: #fff !important;
    display: block;
}

.footer-row {
	background-color: white;
	display: flex;
	padding: 15px;
}

.footer-col {
	color: black;
	width: 100%;
	padding: 10px;
	font-family: garamond;
}

@media screen and (max-width: 600px) {
	.footer-row {
		flex-direction: column;
	}
}
